{% load staticfiles %}

<html>
<head>
    <title>Celery Demo</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href= "{% static 'css/loading-bar.css' %}" />
    <script src= "{% static 'js/loading-bar.js' %}"></script>
</head>

<body style="text-align: center;">
<h1>Generate Random Users</h1>


<progress id="progress-bar" value="0" max="100" style="display:none; margin-bottom: 1em;"></progress>

<form id="generate-user-form" action="/" method="post" enctype="multipart/form-data" >
    {% csrf_token %}
    <table >
        {{ form.as_table }}
    </table>
    <input type="submit" value="Submit"/>
</form>

{% if sub %}
    <p id="result"> Hola {{txt}} </p>
{% endif %}

</body>
</html>
