{% load staticfiles %}

<html>
<head>
    <title>Celery Demo</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href= "{% static 'css/loading-bar.css' %}" />
    <script src= "{% static 'js/loading-bar.js' %}"></script>
</head>

<body style="text-align: center;">
<h1>Generate Random Users</h1>


<progress id="progress-bar" value="0" max="100" style="display:none; margin-bottom: 1em;"></progress>

<form id="generate-user-form" action="/" method="post" enctype="multipart/form-data" >
    {% csrf_token %}
    <table >
        {{ form.as_table }}
    </table>
    <input type="submit" value="Submit"/>
</form>


<p id="result">  </p>

<p > {{ txt }}  </p>


<div id="spinner-hs" style="display: none">
    <img src="/static/bars.gif" width="30" height="30" />
</div>


<script>
     var frm = $('#generate-user-form');

    (function() {
      document.getElementById("id_hs").onchange = function(){
        $('#spinner-hs').show();
        $("#id_hs").after($('#spinner-hs'));
        $("#id_hs").css('display', 'none');

        var files = document.getElementById("id_hs").files;
        var file = files[0];
        if(!file){
          return alert("No file selected.");
        }
        getSignedRequest(file);
      };
    })();

    function getSignedRequest(file){
        $.ajax({
                type: 'get',
                url: 'sign-s3/',
                data: {'filename': makeid(), 'filetype': file.type},

                success: function (data) {
                     uploadFile(file, data.presigned, data.url);
                },
                error: function (data) {
                    alert("Could not get signed URL with our storage service. Please report this problem");
                }
        });
    }

    function uploadFile(file, presigned, url){
      var xhr = new XMLHttpRequest();
      xhr.open("POST", presigned.url);
      console.log( presigned.url);

      var postData = new FormData();
      for(key in presigned.fields){
          postData.append(key, presigned.fields[key]);
          console.log( presigned.fields[key]);
      }
      postData.append('file', file);
      console.log(postData);

      xhr.onreadystatechange = function() {
        console.log(xhr)

        if(xhr.readyState === 4){
          if(xhr.status === 200 || xhr.status === 204){
              $("#id_hs").css('display', 'inline');
              $("#spinner-hs").css('display', 'none');

              document.getElementById("id_hsurl").value=url;
          }
          else{

              alert("Could not upload file.");
          }
       }
      };
      xhr.send(postData);
    }

    frm.submit(function () {
        $("#id_hs").val("");
    });

    function makeid() {
      var text = "";
      var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

      for (var i = 0; i < 8; i++)
        text += possible.charAt(Math.floor(Math.random() * possible.length));

      return text;
    }

</script>

</body>
</html>

